# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
testenv/

# PyInstaller
*.spec

# VSCode / IDEs
.vscode/
.idea/
